.header {
  text-align: center;
  margin: 2rem, auto;
}

.logo {
  width: 100%;
  max-width: 150px;
  height: auto;
  object-fit: contain;
  background-color: transparent;
}
.header-title {
  font-size: 1.5rem;
  margin: 1rem;
}
