<form class="form" (ngSubmit)="onSubmit()">
  <div class="input-group">
    <label for="initial-investment">Initial Investment</label>
    <input
      id="initial-investment"
      name="initial-investment"
      type="number"
      [(ngModel)]="enteredInitialInvestment"
    />
  </div>
  <div class="input-group">
    <label for="annual-investment">Annual Investment</label>
    <input
      id="annual-investment"
      name="annual-investment"
      type="number"
      [(ngModel)]="enteredAnnualInvestment"
    />
  </div>
  <div class="input-group">
    <label for="expected-return">Expected Return</label>
    <input
      id="expected-return"
      name="expected-return"
      type="number"
      [(ngModel)]="enteredExpectedReturn"
    />
  </div>
  <div class="input-group">
    <label for="duration">Duration</label>
    <input
      id="duration"
      name="duration"
      type="number"
      [(ngModel)]="enteredDuration"
    />
  </div>

  <button type="submit">Calculate</button>
</form>
