/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: "Roboto Condensed", sans-serif;
}
